.section-courses {
  padding: 50px 0 122px;
}

.section-courses > h2 {
  font-family: Poppins;
  font-size: 42px;
  font-weight: 500;
  line-height: 63px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--dark-blue);
}

.course-level {
  margin-top: 20px;
  border: 2px solid #003366;
  box-sizing: border-box;
  padding: 40px 40px 60px;
  border-radius: 14px;
}

.course-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.course-title > h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--dark-blue);
}

.course-header-top > button {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: var(--main-white-color);
  transition: color 0.3s ease;

  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--light-black);
  text-transform: uppercase;
}

.course-header-top > button:hover {
  cursor: pointer;
  color: rgb(126, 126, 126);
}

.course-header-top > button:hover .circle {
  background-color: rgb(10, 10, 189);
}

.course-header-bottom {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}

.course-header-desc {
  display: flex;
  gap: 8px;
  background-color: var(--light-gray);
  padding: 10px 16px;
  border-radius: 45px;
  align-items: center;
}

.course-header-desc > p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--light-black);
}

.course-desc {
  margin-top: 40px;
}

.course-desc > h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.course-desc > .list-wrapper > ul {
  list-style: none;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.list-wrapper {
  padding-top: 16px;
}

.course-desc > .list-wrapper > h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--light-black);
}

.course-desc > .list-wrapper > ul > li {
  display: flex;
  gap: 16px;
  align-items: center;
}

.course-desc > .list-wrapper > ul > li > p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--light-black);
}

.course-price {
  display: flex;
  margin-top: 24px;
  align-items: center;
  gap: 34px;
  margin-bottom: 40px;
}

.course-price > p {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--dark-blue);

  margin: 0;
  padding: 0;
  position: relative;
}

.course-price p:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  width: 2px;
  height: 100%;
  background-color: var(--dark-blue);
}

.course-desc > button {
  background-color: var(--dark-blue);
  border: none;
  text-transform: uppercase;
  padding: 14px 85.5px;
  border-radius: 14px;
  color: var(--main-white-color);

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  transition: background-color 0.3s ease;
}

.course-desc > button:hover {
  cursor: pointer;
  background-color: rgb(30, 160, 160);
}
